.wrapper-impact {
  width: 1, 920px;
  height: auto;
  position: relative;
  display: flex;
  position: relative;
  top: -600px;
  flex-wrap: wrap;
  padding: 96px 0px 96px 0px;
  gap: 134px;
  opacity: 0px;
}

.content-impact {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 82px;
  opacity: 0px;
  display: block;
}
.content-impact .termita {
  width: 260px;
  height: 262px;
  gap: 0px;
  border-radius: 174.5px;
  opacity: 0px;
  position: relative;
  top: -1200px;
  left: 400px;
}
.content-impact img {
  width: 752px;
  height: 738px;
  gap: 0px;
  border-radius: 0px 369px 369px 0px;
  opacity: 0px;
}

.content-impactChild {
  width: 630px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  opacity: 0px;
  position: relative;
  left: 800px;
  top: -700px;
}
.content-impactChild h1 {
  font-family: Raleway;
  font-size: 56px;
  font-weight: 800;
  line-height: 65.74px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #004622;
}

.frame228 {
  width: 575px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  opacity: 0px;
  position: relative;
  left: 0px;
  top: 550px;
}
.frame228 .frame227 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  opacity: 0px;
}
.frame228 .frame227 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  position: relative;
}
.frame228 .frame227 .para2 {
  position: relative;
  top: -290px;
}
.frame228 .frame226 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  opacity: 0px;
  position: relative;
  top: -580px;
}
.frame228 .frame225 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  opacity: 0px;
}
.frame228 .frame225 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.frame228 .frame225 .para3 {
  position: relative;
  top: -280px;
}
.frame228 .frame224 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  opacity: 0px;
}
.frame228 .frame224 img {
  width: 140px;
  height: 140px;
  gap: 0px;
  opacity: 0px;
}

.impact {
  width: 1, 298px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  opacity: 0px;
  position: relative;
  top: -900px;
  left: 100px;
}
.impact .frame44 {
  width: 636px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap: 24px;
  opacity: 0px;
}
.impact .frame44 .frame48 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}
.impact .frame44 .frame48 h1 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #004622;
}
.impact .frame44 .frame48 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #232323;
}

@media only screen and (max-width: 1440px) {
  .wrapper-impact {
    width: 100%;
    max-width: 1440px;
    height: auto;
    max-height: 1087px;
    gap: 96px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .impact {
    width: 100%;
    max-width: 1440px;
    height: auto;
    max-height: 248px;
    gap: 24px;
    padding-right: 72px;
    padding-left: 72px;
  }
  .content-impact {
    width: 100%;
    max-width: 1440px;
    height: auto;
    max-height: 551;
    gap: 82px;
  }
  .content-impact img {
    width: 710px;
    height: 551px;
    border-top-right-radius: 369px;
    border-bottom-right-radius: 369px;
  }
  .content-impact .content-impactChild {
    width: 100%;
    max-width: 648px;
    height: auto;
    max-height: 547px;
    gap: 24px;
    padding-right: 72px;
  }
  .content-impact .content-impactChild h1 {
    font-family: Raleway;
    font-weight: 800;
    font-size: 40px;
    line-height: 46.96px;
    letter-spacing: 0%;
  }
  .content-impact .content-impactChild .frame228 {
    width: 575px;
    max-height: 429;
    height: auto;
    gap: 16px;
  }
  .content-impact .content-impactChild .frame228 .frame227 {
    width: 100%;
    max-width: 575px;
    max-height: 160px;
    height: auto;
    gap: 16px;
  }
  .content-impact .content-impactChild .frame228 .frame227 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
    height: 48px;
  }
  .content-impact .content-impactChild .frame228 .frame227 .para2 {
    height: 96px;
  }
  .content-impact .content-impactChild .frame228 .frame226 {
    width: 100%;
    max-width: 575px;
    max-height: 253px;
    height: auto;
    gap: 4px;
  }
  .content-impact .content-impactChild .frame228 .frame226 .frame225 {
    width: 100%;
    max-width: 575px;
    max-height: 253px;
    height: auto;
    gap: 17px;
  }
  .content-impact .content-impactChild .frame228 .frame226 .frame225 .frame224 {
    width: auto;
    max-width: 434px;
    max-height: 140;
    height: auto;
    gap: 7px;
  }
  .content-impact .content-impactChild .frame228 .frame226 .frame225 .frame224 img {
    width: 140;
    height: 140;
  }
  .content-impact .content-impactChild .frame228 .frame226 .frame225 .frame224 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 728px) {
  .wrapper-impact {
    width: 100%;
    max-width: 728px;
    max-height: 1906;
    height: auto;
    gap: 96px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .content-impact {
    width: 100%;
    max-width: 728;
    max-height: 1098px;
    height: auto;
    gap: 48px;
    display: flex;
    flex-wrap: nowrap;
  }
  .content-impact img {
    width: 710;
    height: 551;
    border-top-right-radius: 369px;
    border-bottom-right-radius: 369px;
  }
  .content-impact .content-impactChild {
    width: 100%;
    max-width: 728px;
    max-height: 499;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-right: 48px;
    padding-left: 48px;
  }
  .content-impact .content-impactChild h1 {
    font-family: Raleway;
    font-weight: 800;
    font-size: 40px;
    line-height: 46.96px;
    letter-spacing: 0%;
  }
  .content-impact .content-impactChild .frame228 {
    width: 100%;
    max-width: 632px;
    height: auto;
    max-height: 381px;
    gap: 16px;
  }
  .content-impact .content-impactChild .frame228 .frame227 {
    width: 100%;
    max-width: 632px;
    height: auto;
    max-height: 136;
    gap: 16px;
  }
  .content-impact .content-impactChild .frame228 .frame226 {
    width: 100%;
    max-width: 632px;
    max-height: 229px;
    height: auto;
    gap: 4px;
  }
}/*# sourceMappingURL=Impact.css.map */