.wrapper-impact {
  width: 1, 920px;
  height: auto;
  position: relative;
  display: flex;
  position: relative;
  top: -600px;
  flex-wrap: wrap;
  padding: 96px 0px 96px 0px;
  gap: 134px;
  opacity: 0px;
}

.content-impact {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 82px;
  opacity: 0px;
  display: block;
}
.content-impact .termita {
  width: 260px;
  height: 262px;
  gap: 0px;
  border-radius: 174.5px;
  opacity: 0px;
  position: relative;
  top: -2680px;
  left: 400px;
}
.content-impact img {
  width: 752px;
  height: 738px;
  gap: 0px;
  border-radius: 0px 369px 369px 0px;
  opacity: 0px;
}

.content-impactChild {
  width: 630px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  opacity: 0px;
  position: relative;
  left: 800px;
  top: -700px;
}
.content-impactChild h1 {
  font-family: Raleway;
  font-size: 56px;
  font-weight: 800;
  line-height: 65.74px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #004622;
}

.frame228 {
  width: 575px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  opacity: 0px;
  position: relative;
  left: 800px;
  top: -650px;
}
.frame228 .frame227 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  opacity: 0px;
}
.frame228 .frame227 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  position: relative;
}
.frame228 .frame227 .para2 {
  position: relative;
  top: -290px;
}
.frame228 .frame226 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  opacity: 0px;
  position: relative;
  top: -580px;
}
.frame228 .frame225 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  opacity: 0px;
}
.frame228 .frame225 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.frame228 .frame225 .para3 {
  position: relative;
  top: -280px;
}
.frame228 .frame224 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  opacity: 0px;
}
.frame228 .frame224 img {
  width: 140px;
  height: 140px;
  gap: 0px;
  opacity: 0px;
}

.impact {
  width: 1, 298px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  opacity: 0px;
  position: relative;
  top: -900px;
  left: 100px;
}
.impact .frame44 {
  width: 636px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap: 24px;
  opacity: 0px;
}
.impact .frame44 .frame48 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}
.impact .frame44 .frame48 h1 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #004622;
}
.impact .frame44 .frame48 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #232323;
}/*# sourceMappingURL=Impact.css.map */